django==2.1
dj-database-url==0.5.0
django-heroku==0.3.1
djangorestframework==3.9.0
django-rest-auth==0.9.3
django-allauth==0.38.0
django-webpack-loader==0.6.0
python-docx==0.8.7
pillow==5.3.0
psycopg2-binary==2.7.6.1
