{% load i18n %}{% autoescape off %}{% load value_from_settings %}{% value_from_settings "DOMAIN" as domain %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ domain }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ domain }}reset-password/{{ uid }}/{{ token }}/
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}Genesis Classes Team{% endblocktrans %}

{% endautoescape %}