@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid rgba(1, 69, 142, 1); /* Dark grey */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  html{
    scroll-behavior: smooth;
  }
  body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal !important;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
  }