.side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center; 
    background-color: white;
    transition: all 0.4s ease;
}
/* toggle sidebar */
.side-expanded {
    width:0%;
    z-index: -99 !important;
}

#main-panel{
    transition: all 0.4s ease;
    background-color: #F0F0F0;
}
.wrapper-test{
    background-color: white !important;
    height: 100%;
}

.wrapper-test .header{
    background-color: #D2EDFF;
    height: 65px;
    width: 100%;
    text-align: center;
    padding: 20px 40px 20px 40px;
}

.wrapper-test .header h3{
    margin: 0px;
    color: #01458E;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
}

.wrapper-test .main-body{
    width: 100%;
    height: calc(100% - 65px);
}

.wrapper-test .main-body .nav-right{
    width: 24%;
    height: 100%;
    float: right;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.wrapper-test .main-body .nav-right .content{
    padding: 20px;
    width: 100%;
}

.wrapper-test .main-body .nav-right .content .timer-units ul li{
    list-style: none;
    font-size: 10px;
    display: inline-block;
    color: grey;
    padding-inline-start: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper-test .main-body .nav-right .content .labels .disc{
    border-radius: 100%;
    background-color: black;
    width: 12px;
    height: 12px;
    display: inline-block
}
.wrapper-test .main-body .nav-right .content .labels .inline-labels{
    display: inline-block;
    padding-inline-start: 10px;
    font-size: 18px;
    color: grey;
}

.wrapper-test .main-body .nav-right .content .timer{
    text-align: center;
    font-size: 32px;
    color: grey;
}

.main-body .nav-right .content .section{
    margin-top: 10px;
}

.main-body .nav-right .content .button{
    height: 50px;
    background-color: darkblue;
    position: absolute;
    width: calc(24% - 40px);
    bottom: 0;
}

.main-body .nav-right .content .section .section-body{
    height: 0px;
    width: 100%;
    transition: all 0.4s;
    margin-top: 10px;
    padding-left: 12px;
    display: none;
}

.body-expanded .question-badge{
    background-color: #F0F0F0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: inline-block;
    color: black !important;
    margin: 10px;
}

.section .body-expanded{
    height: 200px !important;
    display: block !important;
}

.main-body .nav-right .content .section .section-header{
    width: 100%;
    height: 40px;
    background-color: #F0F0F0;
    color: grey;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin: auto;
    padding: 12px;
    padding-inline-start: 20px;
    display: block;
    padding-inline-end: 20px;
}

.section .section-header .icon{
    display: inline-block;
    float: right;
}

.section .section-header .icon-expanded{
    transform: rotate(180deg);
}

.section .header-expanded{
    background-color: #D2EDFF !important;
    color: #01458E !important;
}

.section-header:hover{
    cursor: pointer;
}

.section-header h5{
    margin: auto;
    display: inline-block;
}

.wrapper-test .main-body .body{
    width: 76%;
    height: 100%;
    padding: 2%;
}

.wrapper-test .main-body .body .content{
    width: 100%;
    min-height: 85%;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin-bottom: 40px
}

.wrapper-test .main-body .footer{
    height: 50px;
    background-color: darkblue;
    position: absolute;
    width: 76%;
    bottom: 0;
}

.main-panel-expanded {
    width:100% !important;
}

.nav-bar-expanded{
    width:100% !important;
}

/* toggle sidebar end */
.side .side-wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
    width: 100%;
    z-index: 4;
    padding-bottom: 30px; 
    box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.1);
    color:grey;
}
.side .side-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center; }
.side .logo {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 4; 
    background-color: #D2EDFF;}
.side .logo img {
    width: 260px;
    height: 58px;
    transition: all 0.4s ease;
}
.side .profile {
    position: relative;
    height: 100px;
    margin:5px;
    padding: 10px;
    padding-left: 20px;
}

.side .profile .avatar{
    display: inline-block;
}

.side .profile .avatar img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: auto;
}

.side .profile .name{
    display: inline-block;
    padding-left: 10px;
    margin: 4px;
}

.side .profile .name p{
    font-size: 18px;
    color: black;
    padding: 0;
    margin: 0;
}

.side .profile .name a{
    color: #01458E;
    font-weight: 500;
}

.side .side-wrapper > .nav > {
    margin-top: 10px;
    float: none !important; }
.side .side-wrapper > .nav  > li > a {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color:#F0F0F0;
    text-transform: uppercase;
}

.side .side-wrapper > .nav  > li > a >p{
    margin: 5px;
}

.side .side-wrapper .active{
    background-color: #01458E;
    color:#F0F0F0;
}

.side .side-wrapper .p{
    text-align: center;
    vertical-align: middle;
}

.nav-bar{
    position: fixed !important;
    width: calc(100% - 260px);
    height:60px;
    background-color: #01458E !important;
    z-index: 10;
    transition: all 0.4s ease;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
}

.nav-links .left{
    float: left;
    padding-inline-start: 10px;
    padding-top: 4px ;
}

.nav-links .right{
    float: right;
    padding-inline-start: 10px;
    padding-top: 4px ;
}

.nav-links ul li {
    color:white !important;
    list-style: none;
    line-height: 20px;
    display: inline-block;
    padding: 15px;
}

.nav-links ul li a{
    color:white !important;
}

.title-heading{
    margin:0;
    color:grey;
    margin-left: 20px;
    font-weight: 400;
    font-size: 28px;
}

.home-content{
    margin-top: 65px;
    margin-left: 20px;
}

.card-app{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin: 0px !important;
    margin-bottom: 30px !important;
    transition: all 0.1s ease;
    position: relative;
    height: 100% !important;
}

.card-app .disabled{
    position: absolute;
    height: 105%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    cursor: not-allowed;
}

/* .card-app .disabled:hover{
    transform: scale(1) !important;
} */

.card-app .content{ 
    padding:0 !important;
    user-select: none;
    cursor: pointer;
    height: 100% !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
}

.card-app .content .img{
    width:100% !important;
    height: 80% !important;
}

.card-app .content img{
    width:100% !important;
    height: 100% !important;
}

.card-app .content .info{
    width:100% !important;
    height: 86% !important;
    text-align: left !important;
}

.card-app .content .info p{
    font-size:14px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: normal;
    margin:2px;
    color: grey;
    padding: 4px 10px;
    box-shadow: 0 1px rgba(0,0,0,0.1);
}

.card-app .content .info .details{
    font-size:14px;
    word-wrap: break-word;
    word-break: normal;
    margin:2px;
    padding: 4px 10px;
    box-shadow: 0 1px rgba(0,0,0,0.1);
}

.card-app .content .info .details .key{
    font-weight: 400;
    color: black;
    display: inline-block;
    width: 65%;
}

.card-app .content .info .details .value{
    font-weight: 400;
    color: grey;
    display: inline-block;
    word-wrap: break-word;
    word-break: normal;
    float: right;
    width: 35%;
}

#test-title{
    font-size: 16px;
    margin-bottom:5px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: normal;
    color: #01458E;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.card-app .content .title{
    width:100%;
    height: 20%;
    background-color: #D2EDFF;
    border-radius: 0 0 4px 4px;
    text-align: center;
    padding:10px 0px 10px 0px;
    font-weight: 500;
    color: #01458E !important;
}

.card-app .content .sub-title{
    width:100%;
    height: 10%;
    background-color: #01458E;
    border-radius: 0 0 4px 4px;
    text-align: center;
    padding:5px 0px 5px 0px;
    font-weight: 500;
    color:#D2EDFF;
}

.card-app .content .type1{
    background-color: #D9D2FD !important;
}

.card-app .content .type2{
    background-color: #FFE0D2 !important;
}

.card-app .content .type3{
    background-color: #DBFFB2 !important;
}

.card-app .content .type4{
    background-color: #D2EDFF  !important;
    color: #01458E;
}

.card-desc{
    background-color: white;
    margin: 15px;
    margin-top:0;
    margin-right:0;
    border-radius: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
}

.card-desc .content{
    padding:20px;
    padding-left:0px; 
}

.card-desc .content .image{
    width:100%;
    margin-bottom:10px;
}

.card-desc .content .description h4{
    font-weight: 300;
    color:#01458E;
}

.card-desc .content .image img{
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.20) !important;
    height:160px;
    width:160px;
}

.home-cards{
    display: inline-block;
    width: 220px;
    height: 230px;
    margin: 20px;
}
.inline{
    display: inline-block;
    width: 300px;
    margin: 20px;
}
.test{
    width: 200px;
}

.side-chap{
    border-radius: 6px;
}

.side-chap .chap-wrapper .chap-list-item{
    border-radius:6px;
    height:50px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* .item-hidden{
    display: none;
    height:0px;
} */
.side-chap .chap-wrapper .active{
    box-shadow: 0 5px 15px 4px rgba(0,0,0,0.3);
    /* border-bottom: 2px solid rgb(87, 163, 243); */
    background-color: #01458E;
    color:#D2EDFF;
    /* display: block;
    height:50px; */
}

.test-instructions{
    width: 100%;
    height: calc(100% - 65px);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.test-instructions .footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: darkblue;
    height: 35px;
    left: 0;
    text-align: center;
    padding: 5px;
}

.footer p{
    color: white;
    width: 100%;
    font-weight: 900;
    margin: auto;
}

.footer p:hover{
    cursor: pointer;
}

.test-instructions .upper-section{
    width: 100%;
    background-color: white;
    height: 270px;
    margin-bottom: 20px;
}

.test-instructions .lower-section{
    width: 100%;
    height: 240px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}
.upper-section .left{
    display: inline-block;
    width: 72%;
    height: 100%
}
.upper-section .left .instruction{
    width: 100%;
    height: 112px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    padding: 20px;
}

.instruction .content{
    font-size: 16px;
    padding-inline-end: 20px;
    display: inline-block;
    width: 50%;
    padding-bottom: 20px;
}

.upper-section .left .instruction-card{
    display: inline-block;
    width: calc(33.33% - 13.33px);
    height: 140px;
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
    padding: 20px;
}

.instruction-card .content{
    position: absolute;
}

.instruction-card h4{
    margin: 0;
}

 .instruction-card h3{
    color:  rgba(1, 69, 142, 1);
    margin: 0;
 }

.upper-section .right{
    display: inline-block;
    width: calc(28% - 20px);
    height: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-left: 20px;
}

.upper-section .right .description{
    position: absolute;
    padding: 10px;
    padding-top: 20px;
}

.right .description h4{
    color: rgba(1, 69, 142, 1);
    font-size: 20px;
    margin: 0;
}

.lower-section .description{
    position: absolute;
    padding: 10px;
    padding-top: 20px;
}

.lower-section .description h4{
    color: rgba(1, 69, 142, 1);
    font-size: 20px;
    margin: 0;
}

@media (max-width: 991px){
    #main-panel{
        width: calc(100% - 260px);
    }
    .nav-bar{
        width:100%;
        z-index:4 !important;
    }
}

#color1{
    background-color: rgba(221, 235, 245, 1); 
    /* blue light */
}

#color2{
    background-color: rgba(228, 223, 252, 1); 
    /* purple */
}

#color3{
    background-color: rgba(249, 230, 221, 1);
    /* pink */
}